/* Container chứa cả 2 lớp chữ */
.lookback-2022__title {
    position: relative;
    display: inline-block;
    margin-bottom: 44rem;
    user-select: none;
}

/* Lớp 1: Dòng chữ chính "Cùng nhìn lại" (Nằm phía trên) */
.lookback-2022__title .title-main {
    position: relative;
    z-index: 2;
    /* Đảm bảo nổi lên trên */
    font-size: 2.5rem;
    font-weight: 200px;
    font: height 1000px;

    color: gray;
    margin: 0;
    line-height: 1.2;
}

/* Lớp 2: Dòng chữ nền "WEB DESIGN 2022" (Nằm phía dưới đè nhẹ) */
.lookback-2022__title .title-bg {
    position: absolute;
    z-index: 1;
    /* Nằm phía dưới */
    top: 70%;
    /* Điều chỉnh độ lệch theo chiều dọc để tạo hiệu ứng layer */
    left: 15px;
    /* Điều chỉnh độ lệch sang phải */

    font-size: 4rem;
    font: height 4px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    box-shadow: 0 24px 44px rgb(0, 0, 0.12);

    /* Màu cam/vàng đặc trưng như trong ảnh thiết kế mẫu */
    color: var(--color-primary);
    /* Hoặc nếu muốn hiệu ứng mờ/xuyên thấu, bạn có thể thêm: */
    /* opacity: 0.8; */
    opacity: 0.8;
    letter-spacing: 2px;
    pointer-events: none;
    /* Tránh cản trở tương tác chuột */
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
